.fsModal {

    .modal {
        z-index: 2;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; // overflow: hidden;
    }

    .modal-dialog {
        position: fixed;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .modal-content {
        background: rgb(64, 64, 64);
        background: rgba(64, 64, 64, 0.9);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 0;
        box-shadow: none;
    }


    .modal-body {
        position: absolute;
        top: 50px;
        bottom: 10px;
        width: 100%; // font-weight: 300;
        overflow: auto;
    }

    .details {
        width: 30%;
        margin: auto;
    }

    .second {
        padding-top: 50px;
    }

    .rightCol {
        border-left: 1px solid white;
    }

    .cityName {
        color: #FFC000;
        font-size: 15px;
        display: inline-block;
    }
    .leftCityName {
        padding-right: 8px;
    }
    .rightCityName {
        padding-left: 8px;
    }

    .list-group {
        padding-right: 0px;
    }
    .list-group-item {
        margin-top: 20px;
        border-radius: 4px;
        border-color: transparent; // min-height: 50px;
        background-color: #333333;
    }

    .btn-close {
        background-color: #FFC000;
        height: 40px;
        width: 120px;
        color: white;
        margin-left: 20px;
    }

    p {
        font-size: 22px;
        line-height: 1.5;
        color: white;
        text-align: right;
        span {
            font-size: 35px;
            color: #FFC000;
        }

    }

    .lstR {
        padding-top: 0px; // padding-bottom: 6px;
        min-height: 47px;
    }
    .lstP {
        font-size: 15px; // line-height: 1.5;
        color: white;
        text-align: right;
        span {
            font-size: 11px;
            color: #FFC000;
        }
    }
    

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
        background: #f1f3f5;
        border-left: 1px solid darken(#f1f3f5, 10%);
    }
    ::-webkit-scrollbar-thumb {
        background: darken(#f1f3f5, 20%);
    }

    @media (max-width: 1200px) {
        .details {
            width: 50%;
        }
    }

    @media (max-width: 850px) {
        .details {
            width: 70%;
        }
    }
}
