<!-- modal -->
<div id="fsModal" 
     class="fsModal modal animated pulse"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true"
     ng-clock>

  <!-- dialog -->
  <div class="modal-dialog">

    <!-- content -->
    <div class="modal-content">

      
      <!-- body -->
      <div class="modal-body">
        <div class="row" dir="ltr">
          <button type="button" class="btn btn-close" ng-click="close()" data-dismiss="modal">סיום</button>
        </div>
        <div class="row details">
            <div class="col-xs-5 col-xs-push-7 rightCol">
                <p>
                המרחק בק"מ
                <br>
                <span>{{distance}}</span>
                </p>
            </div>
            <div class="col-xs-6 col-xs-pull-6 ">
                <p>
                    המרחק הפופולרי ביותר
                    <br>
                    <span>{{popularDis}}</span>
                </p>
                <div class="row" dir="rtl">
                    <p class="cityName rightCol rightCityName">{{pSrcAddr}}</p>
                    <p class="cityName leftCityName">{{pDestAddr}}</p>
                </div>
            </div>
        </div>
        <div class="row details second">
            <p>רשימת התוצאות הפופולריות</p>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in popularFiveLst">
                    <div class="row lstR">
                        <div class="col-sm-3 col-sm-push-9">
                            <p class="lstP">
                                {{item.sourceAddr}}
                                <br>
                                <span>מוצא</span>
                            </p>
                        </div>
                        <div class="col-sm-3 col-sm-push-3">
                            <p class="lstP">
                                {{item.destAddr}}
                                <br>
                                <span>יעד</span>
                            </p>
                        </div>
                        <div class="col-sm-2 col-sm-pull-6">
                            <p class="lstP">
                                {{item.searchCounter}}
                                <br>
                                <span>בקשות</span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

      </div>
      <!-- body -->

    </div>
    <!-- content -->

  </div>
  <!-- dialog -->

</div>
<!-- modal -->