.homepage {
    position: relative;
    min-height: 95vh;

    .container {
        display: inline-block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 18%;
        height: 300px;
        margin: auto;
        z-index: 1;
    }

    label {
        text-align: right;
        font-size: 11px;
        font-weight: 100;
    }

    p {
        text-align: center;
    }
    
    .lineR{
        font-size: 10px;
        font-weight: 100;
        letter-spacing: 1px;
    }

    .btn-calc {
        background-color: #E91557;
        width: 100%;
        color: white;
        font-weight: 100;
    }
    .form-group {
        margin: auto;
    }
    .form-control {
        box-shadow: none;
        border-width: thin;
        border-color: #D9D9D9;
        height: 48px;
        font-size: 12px;

    }
    .form-control:focus {
        border: none;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    }
    .row {
        padding-top: 20px;
    }
    
    @media (max-width: 1200px) {
        .container{
            width: 30%;
        }
    }
    
    @media (max-width: 800px) {
        .container{
            width: 45%;
        }
    }
    
    @media (max-width: 500px) {
        .container{
            width: 70%;
        }
    }

}
