<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->

<div ng-controller="homepageController" class="homepage" dir="rtl">
  
  <div class="container">
    <div class="row">
      <div class="form-group" id="searchForm">
        <label for="usr">מוצא</label>
        <input type="text" class="form-control" id="dest" ng-model="srcAddr">
      </div>
    </div>
    <div class="row">
      <div class="form-group" dir="rtl">
        <label for="pwd">יעד</label>
        <input type="text" class="form-control" id="src" ng-model="destAddr">
      </div>
    </div>
    <div class="row lineR">
      <p>-------------------------</p>
    </div>
    <div class="row">
      <button type="button" class="btn btn-calc" ng-click="calcDis()">
        <i ng-show="loading" class="fa fa-spinner fa-spin" style="font-size:24px"></i>
        <span ng-show="!loading">הצג את המרחק</span>
      </button>
    </div>
  </div>
  
  <%- partial('../partials/resultModal.ejs') %>
</div>
